spring:
  datasource:
    url: r2dbc:h2:mem:inditexdb
    username: sa
    password:
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2

  liquibase:
    url: jdbc:h2:mem:inditexdb
    enabled: true
    change-log: classpath:/db/changelog/changelog.xml

logging:
  level:
    root: INFO
