spring:
  datasource:
    url: jdbc:h2:mem:inditexdb
    username: sa
    password:
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/changelog.xml

logging:
  level:
    root: INFO
